@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

body {
background-color: mintcream;
color: rgb(18, 18, 18);
font-size: 16px;
font-weight: normal;
font-family: "Montserrat", sans-serif;

}
 
a {
    color: rgb(181, 212, 233) ;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold; 
}

 img {
     background-color: rgb(181, 212, 233);
     border-radius: 50%;
 }

 ul {
     list-style-type: square;
 }
  ul li a {
      color: rgb(3, 2, 75);   
  }